In [1]:
# Data source: EEOC, retrieved 8/30/22
# https://www.eeoc.gov/statistics/title-vii-civil-rights-act-1964-charges-charges-filed-eeoc-includes-concurrent-charges

# Source for reading HTML tables with Pandas: Practical Business Python, retrieved 8/30/22
# https://pbpython.com/pandas-html-table.html

In [2]:
# Import dependencies (might not be using them all)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [3]:
# Read HTML tables from EEOC website

table_EEOC = pd.read_html(
    "https://www.eeoc.gov/statistics/title-vii-civil-rights-act-1964-charges-charges-filed-eeoc-includes-concurrent-charges")

In [4]:
# Check how many tables are on the page

len(table_EEOC)

1

In [5]:
title_vii_complete_df = table_EEOC[0]

In [6]:
title_vii_complete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12 non-null     object
 1   FY 1997     19 non-null     object
 2   FY 1998     19 non-null     object
 3   FY 1999     19 non-null     object
 4   FY 2000     19 non-null     object
 5   FY 2001     19 non-null     object
 6   FY 2002     19 non-null     object
 7   FY 2003     19 non-null     object
 8   FY 2004     19 non-null     object
 9   FY 2005     19 non-null     object
 10  FY 2006     19 non-null     object
 11  FY 2007     19 non-null     object
 12  FY 2008     19 non-null     object
 13  FY 2009     19 non-null     object
 14  FY 2010     19 non-null     object
 15  FY 2011     19 non-null     object
 16  FY 2012     19 non-null     object
 17  FY 2013     19 non-null     object
 18  FY 2014     19 non-null     object
 19  FY 2015     19 non-null     object
 20  FY 2016     19 non-null     object
 21  FY 2017     19 non-null     object
 22  FY 2018     19 non-null     object
 23  FY 2019     19 non-null     object
 24  FY 2020     19 non-null     object
 25  FY 2021     19 non-null     object
dtypes: object(26)
memory usage: 4.2+ KB

In [7]:
title_vii_complete_df

,Unnamed: 0,FY 1997,FY 1998,FY 1999,FY 2000,FY 2001,FY 2002,FY 2003,FY 2004,FY 2005,...,FY 2012,FY 2013,FY 2014,FY 2015,FY 2016,FY 2017,FY 2018,FY 2019,FY 2020,FY 2021
0,Receipts,58615,58124,57582,59588,59631,61459,59075,58328,55976,...,71578,67558,63589,63900,65090,59466,53694,51109,46158,41764
1,Resolutions,62533,60888,59085,57136,54549,56392,52227,51355,46885,...,79310,70175,63061,66046,69673,70405,63948,57285,49206,42683
2,Resolutions By Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Settlements,2272,2657,3748,4828,4493,5362,5215,5365,4991,...,6675,5927,5094,5467,4927,4242,3574,3512,3603,3666
4,NaN,3.6%,4.4%,6.3%,8.5%,8.2%,9.5%,10.0%,10.4%,10.6%,...,8.4%,8.4%,8.1%,8.3%,7.1%,6.0%,5.6%,6.1%,7.3%,8.6%
5,Withdrawals w/Benefits,1924,1767,2084,2251,2201,2188,2188,2151,2405,...,3658,3663,3416,3475,3669,3469,3434,3243,3190,2992
6,NaN,3.1%,2.9%,3.5%,3.9%,4.0%,3.9%,4.2%,4.2%,5.1%,...,4.6%,5.2%,5.4%,5.3%,5.3%,4.9%,5.4%,5.7%,6.5%,7.0%
7,Administrative Closures,17405,16114,14265,11439,10766,9791,9225,8563,7255,...,11811,11108,10487,10862,11040,10475,8998,8648,7982,7495
8,NaN,27.8%,26.5%,24.1%,20.0%,19.7%,17.4%,17.7%,16.7%,15.5%,...,14.9%,15.8%,16.6%,16.4%,15.8%,14.9%,14.1%,15.1%,16.2%,17.6%
9,No Reasonable Cause,38731,37792,35614,33822,32075,34671,32418,32646,29344,...,54197,47062,42295,44259,48162,50305,45877,40355,33207,27516
10,NaN,61.9%,62.1%,60.3%,59.2%,58.8%,61.5%,62.1%,63.6%,62.6%,...,68.3%,67.1%,67.1%,67.0%,69.1%,71.5%,71.7%,70.4%,67.5%,64.5%
11,Reasonable Cause,2201,2558,3374,4796,5014,4380,3181,2630,2890,...,2969,2415,1769,1983,1875,1914,2065,1527,1224,1014
12,NaN,3.5%,4.2%,5.7%,8.4%,9.2%,7.8%,6.1%,5.1%,6.2%,...,3.7%,3.4%,2.8%,3.0%,2.7%,2.7%,3.2%,2.7%,2.5%,2.4%
13,Successful Conciliations,568,671,859,1091,1177,1060,747,697,788,...,1070,985,631,741,764,719,852,569,504,398
14,NaN,0.9%,1.1%,1.5%,1.9%,2.2%,1.9%,1.4%,1.4%,1.7%,...,1.3%,1.4%,1.0%,1.1%,1.1%,1.0%,1.3%,1.0%,1.0%,0.9%
15,Unsuccessful Conciliations,1633,1887,2515,3705,3837,3320,2434,1933,2102,...,1899,1430,1138,1242,1111,1195,1213,958,720,616
16,NaN,2.6%,3.1%,4.3%,6.5%,7.0%,5.9%,4.7%,3.8%,4.5%,...,2.4%,2.0%,1.8%,1.9%,1.6%,1.7%,1.9%,1.7%,1.5%,1.4%
17,Merit Resolutions,6397,6982,9206,11875,11708,11930,10584,10146,10286,...,13302,12005,10279,10925,10471,9625,9073,8282,8017,7672
18,NaN,10.2%,11.5%,15.6%,20.8%,21.5%,21.2%,20.3%,19.8%,21.9%,...,16.8%,17.1%,16.3%,16.5%,15.0%,13.7%,14.2%,14.5%,16.3%,18.0%
19,Monetary Benefits (Millions)*,$88.7,$78.0,$113.1,$142.4,$141.1,$141.7,$138.7,$128.6,$146.0,...,$258.6,$255.9,$197.9,$230.5,$224.5,$234.0,$233.7,$244.7,$234.0,$246.9

In [8]:
# Remove rows labeled NaN. These contain percentages, which we can calculate ourselves if we need them later.
# I'm doing this because I want to keep my units relatively straightforward

title_vii_clean_df = title_vii_complete_df.dropna(axis=0)

In [9]:
title_vii_clean_df

,Unnamed: 0,FY 1997,FY 1998,FY 1999,FY 2000,FY 2001,FY 2002,FY 2003,FY 2004,FY 2005,...,FY 2012,FY 2013,FY 2014,FY 2015,FY 2016,FY 2017,FY 2018,FY 2019,FY 2020,FY 2021
0,Receipts,58615,58124,57582,59588,59631,61459,59075,58328,55976,...,71578,67558,63589,63900,65090,59466,53694,51109,46158,41764
1,Resolutions,62533,60888,59085,57136,54549,56392,52227,51355,46885,...,79310,70175,63061,66046,69673,70405,63948,57285,49206,42683
3,Settlements,2272,2657,3748,4828,4493,5362,5215,5365,4991,...,6675,5927,5094,5467,4927,4242,3574,3512,3603,3666
5,Withdrawals w/Benefits,1924,1767,2084,2251,2201,2188,2188,2151,2405,...,3658,3663,3416,3475,3669,3469,3434,3243,3190,2992
7,Administrative Closures,17405,16114,14265,11439,10766,9791,9225,8563,7255,...,11811,11108,10487,10862,11040,10475,8998,8648,7982,7495
9,No Reasonable Cause,38731,37792,35614,33822,32075,34671,32418,32646,29344,...,54197,47062,42295,44259,48162,50305,45877,40355,33207,27516
11,Reasonable Cause,2201,2558,3374,4796,5014,4380,3181,2630,2890,...,2969,2415,1769,1983,1875,1914,2065,1527,1224,1014
13,Successful Conciliations,568,671,859,1091,1177,1060,747,697,788,...,1070,985,631,741,764,719,852,569,504,398
15,Unsuccessful Conciliations,1633,1887,2515,3705,3837,3320,2434,1933,2102,...,1899,1430,1138,1242,1111,1195,1213,958,720,616
17,Merit Resolutions,6397,6982,9206,11875,11708,11930,10584,10146,10286,...,13302,12005,10279,10925,10471,9625,9073,8282,8017,7672
19,Monetary Benefits (Millions)*,$88.7,$78.0,$113.1,$142.4,$141.1,$141.7,$138.7,$128.6,$146.0,...,$258.6,$255.9,$197.9,$230.5,$224.5,$234.0,$233.7,$244.7,$234.0,$246.9

In [10]:
# Get rid of dollar signs from values in Monetary Benefits (millions) row
# Indicate dollar units in row label. 
# Disable Mathjax so Monetary Benefits ($M) will display without weird formatting. 
# Source: https://stackoverflow.com/questions/52550355/how-do-i-get-rid-of-italics-in-ipython-pandas-and-get-plain-text

title_vii_clean_df = title_vii_clean_df.replace("\$", "", 
                                                regex=True)

title_vii_clean_df = title_vii_clean_df.replace("Monetary Benefits \(Millions\)\*", 
                                                "Monetary Benefits ($M)", 
                                                regex=True)

pd.set_option('display.html.use_mathjax', False)

In [11]:
title_vii_clean_df

,Unnamed: 0,FY 1997,FY 1998,FY 1999,FY 2000,FY 2001,FY 2002,FY 2003,FY 2004,FY 2005,...,FY 2012,FY 2013,FY 2014,FY 2015,FY 2016,FY 2017,FY 2018,FY 2019,FY 2020,FY 2021
0,Receipts,58615,58124,57582,59588,59631,61459,59075,58328,55976,...,71578,67558,63589,63900,65090,59466,53694,51109,46158,41764
1,Resolutions,62533,60888,59085,57136,54549,56392,52227,51355,46885,...,79310,70175,63061,66046,69673,70405,63948,57285,49206,42683
3,Settlements,2272,2657,3748,4828,4493,5362,5215,5365,4991,...,6675,5927,5094,5467,4927,4242,3574,3512,3603,3666
5,Withdrawals w/Benefits,1924,1767,2084,2251,2201,2188,2188,2151,2405,...,3658,3663,3416,3475,3669,3469,3434,3243,3190,2992
7,Administrative Closures,17405,16114,14265,11439,10766,9791,9225,8563,7255,...,11811,11108,10487,10862,11040,10475,8998,8648,7982,7495
9,No Reasonable Cause,38731,37792,35614,33822,32075,34671,32418,32646,29344,...,54197,47062,42295,44259,48162,50305,45877,40355,33207,27516
11,Reasonable Cause,2201,2558,3374,4796,5014,4380,3181,2630,2890,...,2969,2415,1769,1983,1875,1914,2065,1527,1224,1014
13,Successful Conciliations,568,671,859,1091,1177,1060,747,697,788,...,1070,985,631,741,764,719,852,569,504,398
15,Unsuccessful Conciliations,1633,1887,2515,3705,3837,3320,2434,1933,2102,...,1899,1430,1138,1242,1111,1195,1213,958,720,616
17,Merit Resolutions,6397,6982,9206,11875,11708,11930,10584,10146,10286,...,13302,12005,10279,10925,10471,9625,9073,8282,8017,7672
19,Monetary Benefits ($M),88.7,78.0,113.1,142.4,141.1,141.7,138.7,128.6,146.0,...,258.6,255.9,197.9,230.5,224.5,234.0,233.7,244.7,234.0,246.9

In [12]:
# Remove "FY " from column headers
# Source: https://stackoverflow.com/questions/55679401/remove-prefix-or-suffix-substring-from-column-headers-in-pandas

title_vii_clean_df.columns = title_vii_clean_df.columns.str.strip("FY ")

In [13]:
# Give the column with row labels a meaningful name

title_vii_clean_df.rename(columns = {"Unnamed: 0": "Metric"}, 
          inplace = True)

In [14]:
# Reset the index since we dropped a bunch of rows earlier

title_vii_clean_df = title_vii_clean_df.reset_index(drop=True)

In [15]:
# To do: figure out how to make all the data numeric except what's in the Metric column
# Didn't work: title_vii_clean_df[[1:]] = title_vii_clean_df[[1:]].apply(pd.to_numeric)

In [16]:
title_vii_clean_df

,Metric,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Receipts,58615,58124,57582,59588,59631,61459,59075,58328,55976,...,71578,67558,63589,63900,65090,59466,53694,51109,46158,41764
1,Resolutions,62533,60888,59085,57136,54549,56392,52227,51355,46885,...,79310,70175,63061,66046,69673,70405,63948,57285,49206,42683
2,Settlements,2272,2657,3748,4828,4493,5362,5215,5365,4991,...,6675,5927,5094,5467,4927,4242,3574,3512,3603,3666
3,Withdrawals w/Benefits,1924,1767,2084,2251,2201,2188,2188,2151,2405,...,3658,3663,3416,3475,3669,3469,3434,3243,3190,2992
4,Administrative Closures,17405,16114,14265,11439,10766,9791,9225,8563,7255,...,11811,11108,10487,10862,11040,10475,8998,8648,7982,7495
5,No Reasonable Cause,38731,37792,35614,33822,32075,34671,32418,32646,29344,...,54197,47062,42295,44259,48162,50305,45877,40355,33207,27516
6,Reasonable Cause,2201,2558,3374,4796,5014,4380,3181,2630,2890,...,2969,2415,1769,1983,1875,1914,2065,1527,1224,1014
7,Successful Conciliations,568,671,859,1091,1177,1060,747,697,788,...,1070,985,631,741,764,719,852,569,504,398
8,Unsuccessful Conciliations,1633,1887,2515,3705,3837,3320,2434,1933,2102,...,1899,1430,1138,1242,1111,1195,1213,958,720,616
9,Merit Resolutions,6397,6982,9206,11875,11708,11930,10584,10146,10286,...,13302,12005,10279,10925,10471,9625,9073,8282,8017,7672
10,Monetary Benefits ($M),88.7,78.0,113.1,142.4,141.1,141.7,138.7,128.6,146.0,...,258.6,255.9,197.9,230.5,224.5,234.0,233.7,244.7,234.0,246.9